.container {
    display: grid;
    grid-template-columns: 80vh 1fr;
    background: var(--color-primary);
}

.container__image {
    background-image: url(../Image/ElementoBackground3.jpg);
    background-size: cover;
    min-height: 100vh;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.brand {
    text-align: center;
}

.brand__image {
    width: 25vh;
}

.brand__image:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.brand__text {
    font-family: var(--font-text);
    color: var(--color-white);

}