.container {
    display: grid;
    grid-template-columns: 30vh 1fr;
    background: var(--color-primary);
    filter: drop-shadow(0 1vh .5vh var(--color-text));
    justify-content: center;
    align-items: center;
    padding: 2vh 10vh 2vh 10vh;
    
}

.brand__image {
    width: 10vh;
}

.brand__image:hover {
    cursor: pointer;
    transform: scale(1.1);

}
