.container {
    display: grid;
    grid-template-columns: 30vh 1fr;
    background: var(--color-primary);
    filter: drop-shadow(0 1vh 0 var(--color-text));
    justify-content: center;
    align-items: center;
    padding: 2vh 20vh 2vh 20vh;
}

.brand__image {
    width: 10vh;
}

.brand__image:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.item {
    text-decoration: none;
}

.item {
    padding-right: 1.5vh;
    font-size: .9rem;
    color: #fff;
    font-family: var(--font-primary);
    font-weight: 900;
    text-transform: uppercase;
}

.item:hover {
    color: var(--color-secondary);
}

.nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nav__span {
    margin-left: 5vh;
}

.icon {
    color: var(--color-white);
    margin-right: 2vh;
}

.icon:hover {
    cursor: pointer;
    transform: scale(1.1);
}


